h1{
    border: 1px #e3bd85;
    padding: 5px;
    color: #1A1A1A;

}
h2{
    border: 1px #e3bd85;
    padding: 5px;
    color: #771D00;
}
.maintext {
    border: 0;
    padding: 0;
    color: #FE8529;
    color: #771D00;
    color: #e3bd85;
    color: #F4F0E8;
    color: #1A1A1A;

}
.maintext p{
    word-wrap: break-word;
    max-width: 600px;
    text-align:centre;
}
body{
    background-color: #F4F0E8;
    font-family: Roboto, sans-serif;
}

video{
    max-width:100%;
    height: auto;
}
